@font-face {
  font-family: "Duck Hunt";
  src: url("./fonts/duckhunt.eot?") format("eot"),
    url("./fonts/duckhunt.woff") format("woff"),
    url("./fonts/duckhunt.ttf") format("truetype"),
    url("./fonts/duckhunt.svg#DuckHunt") format("svg");
  font-weight: normal;
  font-style: normal;
}

html,
body {
  border: 0px;
  margin: 0px;
}
canvas {
  border-radius: 20px;
  border: 0px;
  background-image: url("./images/backgroundHD.png");
  background-size: 100% 100%;
}
body {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  background-color: black;
}
h1 {
  text-align: center;
  font-family: "Duck Hunt";
  margin:0px;
  color: #48CDDE;
  padding-top:10px;
  font-size: 54px;
}
#canvassection {
  margin: 4px auto;
}
#buttonsection {
  margin: 4px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
button{
  font-family: 'Duck Hunt';
  font-size: 24px;
  background-color: #48CDDE;
  color:black;
  padding: 10px 20px 5px 20px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 6px #34808a;
}


.active {
  margin-top: 2px;
  background-color: #34808a;
  box-shadow: none;
}
